<launch>

    <!--
    <node pkg="scan_aggregator" type="scan_aggregator" name="scan_aggregator" output="screen">
        <remap from="/scan" to="/rig/monstar/points" />
        <remap from="/odometry" to="/rig/vio/odom" />
    </node>
    -->

    <node pkg="scan_aggregator" type="scan_aggregator" name="scan_aggregator" output="screen">
        <remap from="/scan" to="/monstar/points" />
        <remap from="/odometry" to="/vio/odom" />
    </node>

</launch>