<launch>

    <node pkg="sbim_visualizations" type="principal_directions_visualization" name="principal_directions_visualization">
        <remap from="/principal_directions" to="/point_cloud_compass_node/principal_directions"/>
    </node>

    <node pkg="sbim_visualizations" type="principal_planes_visualization" name="local_planes_visualization">
        <param name="marker_ns" value="local_planes" />
        <remap from="/planes" to="/plane_detector_node/planes"/>
    </node>

    <node pkg="sbim_visualizations" type="principal_planes_visualization" name="layout_planes_visualization">
        <param name="marker_ns" value="layout_planes" />
        <remap from="/planes" to="/planar_slam_node/layout_planes"/>
    </node>

    <node pkg="sbim_visualizations" type="trajectory_visualization" name="trajectory_visualization">
        <remap from="/trajectory" to="/planar_slam_node/trajectory"/>
    </node>

    <node pkg="sbim_visualizations" type="layout_segment_visualization" name="layout_segment_visualization">
        <param name="marker_ns" value="layout_segments" />
        <remap from="/layout_segments" to="/layout_extractor_node/layout_segments"/>
    </node>

</launch>